.board {
    display: flex;
    flex-flow: column;
}
.row {
    display: flex;
    width: 100%;
}
.field {
    display: flex;
    flex-grow: 1;
    margin: 1%;
    width: 23%;
    min-height: 50px;
    background-color: #eee;
}